# Collections: Tuples

A tuple is a type of collection in python. It holds multiple objects. Properties of a tuple are:


*  It is an ordered collection, so each object has an index. The first object is index 0, the second object is index 1 etc.

*  It is immutable. This means once it has been set up you cannot add or take away any of the objects, it is set only once.

In [1]:
t1 = (3,5,7,11)
print("t1 = ", t1)

t1 =  (3, 5, 7, 11)

We create tuples using **parenthases**. We can access elements of the tuple using **square brackets**.

In [2]:
print("t1[0] = ", t1[0]) #exp 3
print("t1[2] = ", t1[2]) #exp 7

t1[0] =  3
t1[2] =  7

A new tuple can be created by slicing. We can use a colon to access a range of indexes within a tuple.

If we leave the left side of the colon blank, it means from the beginning.

If we leave the right side of the colon blank, it means from (but not including) the left value, to the end value etc.

In [3]:
t2 = t1[1:3] #exp 5,7
t3  =t1[:2] #exp 3,5
t4 = t1[2:] #exp 7, 11
print("t2 = ", t2)
print("t3 = ", t3)
print("t4 = ", t4)

t2 =  (5, 7)
t3 =  (3, 5)
t4 =  (7, 11)

We can also create a new tuple by reversing, by using a double colon notation.

In [ ]:
#Create a new tuple by reversing
t5 = t1[::-1] #exp 11, 7, 5, 3
print("t5 = ", t5)

Finally, we can iterate over a tuple using a **for loop**, just like with any other type of collection.

In [4]:
#Iterate over a tuple with a for loop
t5 = ("a", "b", "c", "d")
for i in t5:
    print(i)

a
b
c
d

In the next workbook, we will discuss a different type of collection: Lists.