# Collections: Tuples

A tuple is a type of collection in python. It holds multiple objects. Properties of a tuple are:


*  It is an ordered collection, so each object has an index. The first object is index 0, the second object is index 1 etc.

*  It is immutable. This means once it has been set up you cannot add or take away any of the objects, it is set only once.

In [ ]:
t1 = (3,5,7,11)
print("t1 = ", t1)

t1 =  (3, 5, 7, 11)

We create tuples using **parenthases**. We can access elements of the tuple using **square brackets**.

In [ ]:
print("t1[0] = ", t1[0]) #exp 3
print("t1[2] = ", t1[2]) #exp 7

t1[0] =  3
t1[2] =  7

A new tuple can be created by slicing. We can use a colon to access a range of indexes within a tuple.

If we leave the left side of the colon blank, it means from the beginning.

If we leave the right side of the colon blank, it means from (but not including) the left value, to the end value etc.

In [ ]:
t2 = t1[1:3] #exp 5,7
t3  =t1[:2] #exp 3,5
t4 = t1[2:] #exp 7, 11
print("t2 = ", t2)
print("t3 = ", t3)
print("t4 = ", t4)

t2 =  (5, 7)
t3 =  (3, 5)
t4 =  (7, 11)

We can also create a new tuple by reversing, by using a double colon notation.

In [ ]:
#Create a new tuple by reversing
t5 = t1[::-1] #exp 11, 7, 5, 3
print("t5 = ", t5)

Finally, we can iterate over a tuple using a **for loop**, just like with any other type of collection.

In [ ]:
#Iterate over a tuple with a for loop
t5 = ("a", "b", "c", "d")
for i in t5:
    print(i)

a
b
c
d

In the next workbook, we will discuss a different type of collection: Lists.

# Collections: Lists

A list is another type of collection with the following properties:


*   A list is ordered with each item having an index.
*   Unlike a tuple, a list is mutable, so the objects can be changed after it has been set up.

In [2]:
myList = [5,10,15,20]
print(myList)

[5, 10, 15, 20]

We use **square brackets** to signify a list.

Just like with a tuple, we can also use square brackets to access elements by their indexes.

We can test the list and an element of the list to see what object type they are.

In [5]:
print("myList index 0 = ", myList[0])
print("myList index 2 = ", myList[2])

print(type(myList))
print(type(myList[2]))

myList index 0 =  5
myList index 2 =  15
<class 'list'>
<class 'int'>

Because lists are mutable, they can be changed.

There are several ways that we can add elements to a list. One of these is using the **append** function.

In [6]:
myList.append(25)
print(myList)

[5, 10, 15, 20, 25]

As you can see, this has added the int 25 to the end of the list, creating a new index.

We can also join two lists, we do this by using the **extend** function.

For this function, we have to provide another list within the brackets for it to work.

In [7]:
myList.extend([30, 35, 40, 45])
print(myList)

[5, 10, 15, 20, 25, 30, 35, 40, 45]

Another way of doing this is concatenating two lists by using the + operator.

In [9]:
myList += [50, 55, 60, 65]
print(myList)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 50, 55, 60, 65]

Sometimes we may want to insert elements into the middle of the list.

To do this we can use the insert method.

This method takes two parameters: the index of insertion, and the object to be inserted.

In [10]:
bread = ["flour", "yeast", "water"]
print(bread)

bread.insert(2, "salt")
print(bread)

['flour', 'yeast', 'water']
['flour', 'yeast', 'salt', 'water']

Here we have inserted the string "salt" into the list at index 2, so it is positioned between the yeast and the water.

We may also want to remove elements from the list, and there are several ways of doing this.

One method is by using the **remove** function, this will search for the item:

In [ ]:
bread.remove("salt")
print(bread)

Another method is using the **pop** method, which removes an item at a given index.

However, the pop method also lets you do things with the removed object, as it returns that object.

In [12]:
print(bread.pop(1))
print(bread)

yeast
['flour', 'salt', 'water']

Finally, we can use the **del** keyword (not a function) to delete an element at a given index.

In [13]:
print(myList)
del myList[5]
print(myList)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 50, 55, 60, 65]
[5, 10, 15, 20, 25, 35, 40, 45, 50, 55, 60, 65, 50, 55, 60, 65]

We can also use the **del** keyword to remove a slice of the list.

We can specify the slices similarly to how we manipulate the slices of a tuple.

In [ ]:
print(myList)
del myList[:4]
print(myList)